@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
}

.main {
    background-image: url(assets/bg.jpg);

    /* The `background-size: max(1200px, 100vw);` CSS property will set the background image size to either 1200px or 100vw (viewport width), whichever is larger. This means:
    1. If the viewport width is less than 1200px, the background image will be 1200px wide
    2. If the viewport width is greater than 1200px, the background image will scale with the viewport width
    This ensures the background image is never smaller than 1200px while still being responsive for larger screens. */
    background-size: max(1800px, 100vw);
    height: 100vh;
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
}

/* adding overlay to make text more readable. Instead of using opacity on the background image we use a pseudo-element */
.main::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .75);
    z-index: 1;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: auto;
    width: 80vw;
    z-index: 2;
    position: relative;
}

nav .logo {
    width: 187px;
    padding: 15px;
}

.buttons {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}

.buttons .btn-trans {
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid rgb(104, 104, 104);
}

.buttons .btn-red {
    background-color: #e50914;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    border: none;
}

.buttons .language {
    padding: 5px 10px;
}

.buttons .sign-in {
    padding: 5px 15px;
}

.main .content {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    flex-direction: column;
    z-index: 3;
    position: relative;
    margin: auto;
    gap: 20px;
    text-align: center;
    width: 60vw;
    height: calc(100% - 130px);
}

.main .content> :nth-child(1) {
    font-family: "Martel Sans", sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 56px;
    line-height: 70px;
}

.main .content> :nth-child(2) {
    font-family: "Martel Sans", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 20px;
}

.main .content> :nth-child(3) {
    font-family: "Martel Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
}

.content .buttons .inp {
    padding: 15px 175px 15px 14px;
    font-size: 1em;
    font-weight: 400;
}

.content .buttons .sub-btn {
    padding: 15px 30px 15px 14px;
    font-size: 1rem;
    font-weight: bold;
}
/* this code creates the colorful box at the bottom which is visible in forms of border*/
.main .box {
    height: 11vh;
    overflow: hidden;
    /* the background creates a colorful gradient of different shades */
    background: linear-gradient(to right, black 0%, #873f4b 25%, red 50%, #b43248 75%, black 100%);
    /* the clip-path creates an elliptical shape at the bottom with the above gradient */
    clip-path: ellipse(65% 90% at bottom);
    position: relative;
    z-index: 1;
    bottom: 20px;
}
/* this code creates the outer blue shadow effect in the form of elliptical shape */
.box::before {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    clip-path: ellipse(62% 85% at bottom);
    background: linear-gradient(to bottom, #0f197c, #000);
}